<script>
    var wrikeAuthPopup = function () {
        var w = 1000;
        var h = 640;
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        window.open("about:blank",
                 "frmWrikeAuth",
                 "width=" + w + ", height=" + h + ", top=" + top + ", left=" + left + ", toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no");
        document.getElementById('frm-wrike-app-keys').submit();
    }
    $(document).ready(function () {
        $('#chkWrikeOauthOption').bootstrapSwitch().on('switchChange.bootstrapSwitch', function (event, state) {
            if (state == false) {
                $('.wrike-app-keys').show();
                $('#txtWrikeConsumerKey').focus();
            } else {
                $('#txtWrikeConsumerKey').val('');
                $('#txtWrikeConsumerSecret').val('');
                $('.wrike-app-keys').hide();
            }
        });
    });
</script>

    <div class="form-group">
        <label class="col-sm-11">
            <img src="@Url.Content("~//Content/img/ext-wrike.png")" />
            &nbsp;
            Connect to your wrike account.
        </label>
</div>
<div id="btnConnectWrike" class="row" style="margin-top: 20px;">
	<div class="col-md-6">
		<p>
			Oauth with Flowplane:&nbsp;
			<input type="checkbox" id="chkWrikeOauthOption" data-size="medium" data-on-text="Yes" data-off-text="No" checked>
		</p>
		<form id="frm-wrike-app-keys" method="post" action="@Url.Action("oauth", "Wrike")" target="frmWrikeAuth">
			<div class="wrike-app-keys" class="form-group" style="display: none; margin-bottom: 20px;">
				<label>
					Consumer Key:
				</label>
				<input id="txtWrikeConsumerKey" name="txtWrikeConsumerKey" class="form-control" autocomplete="off" placeholder="Consumer Key" type="text" value="" />
			</div>
			<div class="wrike-app-keys" class="form-group" style="display: none;">
				<label>
					Consumer Secret:
				</label>
				<input id="txtWrikeConsumerSecret" name="txtWrikeConsumerSecret" class="form-control" autocomplete="off" placeholder="Consumer Secret" type="text" value="" />
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3">
            <a href="javascript:;"
               onclick="wrikeAuthPopup();"
               class="btn green" target="_top">Connect to Wrike</a>
    </div>
	
</div>
  <input id="txtWrikeAccessToken" name="txtWrikeAccessToken" style="visibility: hidden;" type="text" value="" />
        <input id="txtWrikeAccessTokenSecret" name="txtWrikeAccessTokenSecret" style="visibility: hidden;" type="text" value="" />
<h4 id="lblConnectedToWrike" style="display: none;"><i class="fa fa-check"></i>&nbsp; Connected.</h4>