<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
    <script>
        window.opener.document.getElementById('txtPodioAuthCode').value = '@Html.Raw(ViewBag.AuthCode)';
        window.opener.document.getElementById('txtPodioAccessToken').value = '@Html.Raw(ViewBag.AccessToken)';

        var chk = $(window.opener.document).find('#chkReady');
        chk.trigger('click');
        window.close();
    </script>
</head>
<body>
</body>
</html>
