<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div id="dlg-ProcObjProperties-error" class="col-sm-8" style="color: #c00;"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Share an Update on LinkedIn:
        </label>
        <div class="col-sm-8">
            <textarea id="txtEventParamShareStatus" name="txtEventParamShareStatus" placeholder="Write to LinkedIn (required)" maxlength="140"
                      style="resize: none; width: 100%; min-height: 140px; max-height: 140px; min-width: 100%; max-width: 100%;"
                      class="form-control"></textarea>
        </div>
    </div>
</form>
