<p>
    <img src="@System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~//Content/img/ext-asana.png")" />
    &nbsp;
    Enter your Asana API key (get from <a href="http://app.asana.com/-/account_api" target="_blank">http://app.asana.com/-/account_api</a>):
</p>
<input id="txtAsanaAPIKey"
       name="txtAsanaAPIKey"
       class="form-control"
       placeholder="API Key"
       style="width: 96%;"
       type="text"
       maxlength="64"
       value="" />
